@charset "utf-8";

body {
	background-color:#FFFFFF;
	margin: 0 auto;
}

#wrapper {
	width:1020px;
	margin: 0 auto;
	padding: 0px;
}

h1 {
	font-family:Century Gothic, sans-serif;
	font-weight:900;
	font-size:45px;
	color:#76E9A7;
	padding:1px 0px 0px 0px;
	letter-spacing:2px;
	text-align:center;
}

h2 {
	font-family:Century Gothic, sans-serif;
	font-weight:500;
	font-size:20px;
	color:#717171;
	letter-spacing:1px;
	padding:0px 0px 1px 0px;
	text-align:center;
}

nav {
	text-align: center;
	padding-top: 2px;
}

ul {
	list-style-type:none;
}

li {
	display: inline;
	width: 30%;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #FF9F4C;
	letter-spacing: 0.05em;
	font-style: normal;
	font-weight: 700;
	font-family: Century Gothic, sans-serif;
}

.signupbutton {
	background-color: #ADF8D9;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border-radius: 10em;
}

a {
	text-decoration:none;
	color:#FF9F4C;
}

.navHome {
	margin: 3% 3%;
	border-radius: 10em;
}

.navPeople {
	margin:3% 3%;
}

.navStudies {
	margin:3% 3%;
}

.navPub {
	margin:3% 3%;
}

.navFAQs {
	margin:3% 3%;
}

.navContact {
	margin:3% 3%;
}

a:hover {
	text-decoration: none;
	color: #FF5F21;
}

h3 {
	font-family:Century Gothic, sans-serif;
	color:#659FF9;
	background-color:#FFFFFF;
	padding:8px;
	letter-spacing:1px;
	text-align:center;
}

h4 {
	font-family:Century Gothic, sans-serif;
	font-weight:bold;
	letter-spacing:1px;
	text-align:center;
}

#main {
	font-family:Century Gothic, sans-serif;
	color:#717171;
	background-color:#F7FFAD;
	height:auto;
	padding:20px;
	width: 70%;
	float: left;
	text-align:center;
}

#sidebar {
	font-family:Century Gothic, sans-serif;
	color:#717171;
	height:auto;
	padding:20px;
	width: 20%;
	float: right;
	text-align:center;
}

#sideimg {
	height: 200px;
	width: 100%;
	background-image: url(../images/toys_picture.jpg);
	background-repeat: no-repeat;
	background-size: 200px;
}

#sidebottomimg {
	height: 110px;
	width: 100%;
	background-image: url(../images/pacifiers.jpg);
	background-repeat: no-repeat;
	background-size: 190px;
}

.facebookbutton {
	background-color: #D3E3FD;
	font-weight:bold;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border-radius: 10em;
}

footer {
	font-family: Century Gothic, sans-serif;
	font-size: small;
	color: #C7C7C7;
	padding-top: 40px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 40px;
	clear: both;
	text-align: right;
}
